{
  "openapi": "3.1.0",
  "info": {
    "title": "Dhruvil Mistry Portfolio & AI API",
    "description": "Public API for querying Dhruvil Mistry's portfolio, AI projects, skills, background, and NLWeb natural language interface.",
    "version": "1.0.0",
    "contact": {
      "name": "Dhruvil Mistry",
      "email": "dhruvilmistry16@gmail.com",
      "url": "https://bydhruvil.in"
    }
  },
  "servers": [
    {
      "url": "https://bydhruvil.in",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/ask": {
      "get": {
        "summary": "NLWeb Natural Language Query",
        "description": "Ask questions about Dhruvil Mistry, his projects, technical expertise, or hiring availability using standard NLWeb query parameters.",
        "operationId": "askGet",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The question or query string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stream",
            "in": "query",
            "required": false,
            "description": "Whether to stream SSE responses",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful natural language response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AskResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "NLWeb Natural Language Query (POST)",
        "description": "Submit a question or conversational message to the NLWeb query endpoint.",
        "operationId": "askPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful natural language response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AskResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/dhruvil/chat": {
      "post": {
        "summary": "Chat with Dhruvil AI",
        "description": "Direct conversation endpoint grounded on Dhruvil Mistry's portfolio data.",
        "operationId": "chatWithDhruvil",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "User question"
                  },
                  "history": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": ["user", "assistant"]
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "required": ["message"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "answer": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AskRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "description": "Question to answer"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              }
            }
          },
          "stream": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "AskResponse": {
        "type": "object",
        "properties": {
          "answer": {
            "type": "string",
            "description": "Generated answer grounded in Dhruvil Mistry's portfolio"
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "agent": {
            "type": "string",
            "example": "Dhruvil AI"
          },
          "confidence": {
            "type": "number",
            "example": 1.0
          }
        },
        "required": ["answer"]
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Optional Bearer token for authenticated agent operations"
      }
    }
  }
}
